.pagination {
    margin: 0;
    margin-top: 55px;
    @extend %flex;
    justify-content: center;
    @include breakpoint(max-sm) {
        margin-top: 30px;
    }
    .page-item {
        text-align: center;
        padding: 3px;
        a,
        span {
            width: 45px;
            height: 45px;
            color: $base-color;
            line-height: 45px;
            padding: 0;
            // border: none;
            border-color: rgba($base-color,.4);
        }
        span {
            border: none;
        }
        &.active,
        &:hover {
            span,
            a {
                background: $base-color;
                color: $white;
                border-color: rgba($title-color,.2);
            }
        }
        &.disabled {
            cursor: no-drop !important;
            span, a {
                background: rgba($section-bg, .5);
                border: none;
                color: $title-color;
            }
        }
    }
}


.category-sidebar {
    background: $white;
    margin: 0;
    padding: 15px 18px;
    padding-left: 15px;
    border: 1px solid $border-color;
    max-width: 100%;
    box-shadow: 0 5px 15px rgba($dark,.05);
    position: relative;
    font-size: 13px;
    .has-sub-category {
        position: relative;
        &::before {
            @include line-ico;
            content: '\f107';
            font-size: 12px !important;
            right: 0px;
            top: 10px;
            @include transition;
        }
    }
    li {
        padding: 5px 0;
        i {
            font-size: 20px;
            margin-right: 8px;
        }
        a {
            display: block;
        }
        &:hover {
            &::before {
                transform: rotate(180deg);
            }
            >.sub-category {
                opacity: 1;
                visibility: visible;
                transform: translateY(10px);
            }
        }
    }
    @include breakpoint(lg) {
        .sub-category {
            position: absolute;
            min-width: 180px;
            padding: 15px 18px;
            left: 100%;
            top: 0;
            background: $white;
            box-shadow: 0 5px 15px rgba($dark,.1);
            font-size: 13px;
            opacity: 0;
            visibility: hidden;
            transform: translateY(30px);
            @include transition;
            margin: 0;
            z-index: 11;
            display: block !important;
        }
        display: block !important;
    }
    @include breakpoint(max-lg) {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 11;
        min-width: 300px;
        height: 100vh;
        overflow: auto;
        display: none;
        .sub-category {
            display: none;
            padding-left: 25px;
            li {
                border-bottom: 1px dashed  $border-color;
                padding: 0;
                &:last-child {
                    border: 0;
                }
                a {
                    padding: 7px 0;
                }
            }
            @include breakpoint(sm) {
                padding-left: 45px;
            }
        }
    }
}